@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
	background-color: #000000;
	background-image: url("../img/pattern2.png");
	font-family: 'Roboto Condensed';
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: #fc9003;
	text-decoration: none;
}

.primary-font-color {
	color: #ff5900;
}

.secondary-font-color {
	color: #9e9e9e;
}

.main-header,
.job-card {
	padding-top: 4em;
}

.title-info-main {
	border-left: solid;
	border-width: 2em;
	border-color: #fc9003;
}

.name {
	font-size: 4.5em;
	text-transform: uppercase;
	color: #fc9003;
}

.title {
	font-size: 2em;
	color: #9e9e9e;
}

.brief-desc{
	font-size: 1.5em;
}

.face-picture {
	border-radius: 2em;
	border: 0.5em solid #fc9003;
	height: 20em;
	width: 18em;
	display:block;
    margin:auto;
}

.contact-list {
	list-style: none;
}

.contact-list li {
	margin: 1em 0 1em 8em;
	text-align: right;
}

.contact-list li a {
	font-size: 1.5em;
}

.small-icon {
	color: #FF8400;
	height: 1.5em;
	width: 1.5em;
	margin-left: 1em;
	float: right;
}

.working-experience h2 {
	margin: 2em 0 0 0;
	color: #fc9003;
	font-size: 3em;
	text-transform: uppercase;
}

.job-card {
	padding: 2em 0 1.5em 3em;
	border-bottom: solid;
	border-color: #9e9e9e;
	width: 90%;
}

.job-position {
	font-size: 2.5em;
	width: 100%;
}

.secondary-title {
	border-left: solid;
	padding: 0 0 0 0.5em;
	margin: 1em 0 0 0;
	color: #fc9003;
	width: 100%;
	font-size: 3em;
	text-transform: uppercase;
}

.company-title {
	font-size: 2em;
	width: 100%;
}

.job-epoch{
	padding: 0 2em 0 0;
}

.job-location{
	width: 75%;
}

.company-description,
.achievements {
	width: 100%;
}

.achievements {
	font-size: 1.5em;
}

.job-card ul {
	width: 75%;
}

.skill-list,
.interests ul {
	list-style: none;
	padding: 3em 0 0 0;

}

.skill-list li,
.interests li {
	background-color: #9e9e9e;
	padding: 0.5em 0.8em;
	border-radius: 0.8em;
	width: auto;
	float: left;
	margin: 0 1em 1em 0;
}

.skills,
.languages,
.interests {
	overflow: auto;
	width: 100%;
}

.skills h2 {
	margin: 2em 0 0 0;
}

.languages h5 {
	padding: 2em 0 0.4em 0;
	overflow: auto;
	width: 100%;
}

.language-bullet {
	margin: 0 4% 0 0;
	width: 2em;
	float: left;
	height: 2em;
	border-style: solid;
	border-color: #9e9e9e; 
	border-radius: 2em;
	background-color: #ff5900;
}
